@use "variables";

#discovery-header {
  min-height: 44px;

  display: flex;
  img {
    padding: 15px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
.discovery-hero {
  width: 100%;
  max-height: 750px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  div {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: variables.$white;
    font-family: variables.$font;
    width: 80%;
    padding: 91px 24px;
    img {
      width: 35px;
    }
    h1 {
      font-size: 32px;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 10%;
    }
    .red-line {
      height: 0;
      border-bottom: 3px solid variables.$light-pink;
      width: 50px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  }
}

.form {
  width: 100%;
  height: 326px;
  margin-bottom: 41px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 24px;
    select,
    input {
      height: 40px;
      border-radius: 5px;
      border: 2px solid variables.$light-cream;
      margin-bottom: 37px;
      padding: 5px;
    }
    option:nth-of-type(1) {
      color: variables.$light-cream;
    }
  }
  label {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  button {
    padding: 14px 39px;
    font-size: 11px;
    font-weight: 600;
    color: variables.$white;
    background-color: variables.$light-pink;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in;
    width: 161px;
    &:hover {
      background-color: variables.$light-red;
    }
  }
}

#discovery-articles {
  background-color: variables.$light-gray;
  padding: 24px;
  max-width: 100%;

  div {
    margin-top: 30px;
    padding: 40px 0;
    border-top: 2px solid variables.$light-cream;

    img {
      margin-bottom: 24px;
    }
    img[alt="elephant"] {
      min-width: 250px;
      width: 100%;
    }

    h2 {
      margin-bottom: 40px;
    }
    p {
      font-size: 14px;
      color: variables.$dark-gray;
      line-height: 30px;
    }
  }
  div:nth-of-type(2) {
    border-bottom: 2px solid variables.$light-cream;
    margin-top: 10px;
  }
  .pagination {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
  }
}
.title-container {
  display: none;
}
@media (min-width: 470px) and (max-width: 1024px) {
  .footer-x-items {
    ul {
      margin-right: 10px;
    }
  }
  section {
    // padding: 0px 80px;
  }
  .title-container {
    padding: 22px 80px;
    display: flex;
    justify-content: space-between;
    div.filter {
      text-align: right;
      border-radius: 4px;
      border: 1px solid rgba(212, 209, 209, 0.747);
      img {
        height: 16px;
        margin: 12px;
      }
    }
    div {
      display: flex;
      img {
        height: 16px;
        margin-right: 30px;
      }
      p {
        font-size: 11px;
        margin-right: 19px;
      }
      span {
        margin-right: 19px;
        font-size: 11px;
      }
    }
  }

  #search-container {
    padding: 0px 80px;
    .discovery-hero {
      height: 400px;
    }
    .form {
      max-width: 446px;
      margin: 0 auto;
    }
  }
  #discovery-articles {
    padding: 0px 80px;
    img.pagination {
      max-width: 233px;
      display: flex;
      justify-content: center;
    }
  }
}
