@use "variables";

#news {
  background-color: variables.$light-gray;
  max-height: 1600px;
  div.news-2 {
    display: flex;
    justify-content: space-between;
    max-height: 30px;
    border-bottom: 2px solid variables.$light-gray;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
    padding: 0 24px;
    div {
      svg {
        fill: #9797a098;
      }
      svg:hover,
      svg:focus {
        transition: 0.2s ease-in;
        cursor: pointer;
        fill: black;
      }
      svg:nth-of-type(2) {
        transform: rotate(180deg);
        margin-left: 32px;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      width: fit-content;
    }
  }

  .news-container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .news-container-item {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 327px;
      margin-bottom: 40px;
      &:nth-of-type(1) {
        margin-top: 150px;
      }
      img {
        width: 100%;
        height: 320px;
      }
      div {
        font-family: variables.$font;
        padding: 0 24px;
        position: absolute;
        top: 20px;
        color: variables.$white;
        h3 {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 40px;
          margin-top: 10px;
        }
        h2 {
          font-size: 18px;
          width: 100%;
          height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: wrap;
          margin-bottom: 30px;
          cursor: pointer;

          transition: max-width 0.2s;
          &:hover,
          &:focus {
            max-width: none;
            height: fit-content;
          }
        }
        p {
          font-size: 14px;
          font-weight: 400;
          width: 100%;
        }
        span {
          font-size: 13px;
          color: variables.$light-gray;
        }
      }
    }
  }
}

.line {
  position: relative;
  bottom: 180px;
  height: 0;
  border-bottom: 2px solid variables.$light-cream;
  margin: 0 24px;
  z-index: 2;
}
.card-div {
  padding: 24px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
  background-color: variables.$light-gray;
  .card {
    background-color: variables.$light-gray;
    max-width: 327px;
    min-height: 180px;

    border: none;
    border-radius: 5px;
    margin: 0 auto;

    img[alt="Avatar"] {
      margin-bottom: 20px;
    }
    p {
      font-weight: 600;
      position: relative;
      top: -10px;
      font-size: 15px;
    }

    span {
      font-size: 11px;
      color: variables.$dark-gray;
      position: relative;
      top: -10px;

      img {
        margin-right: 10px;
        position: relative;
        top: 4px;
      }
    }
  }
}

@media (min-width: 470px) and (max-width: 1024px) {
  #news {
    padding: 0 80px;
    margin: 0;
    min-height: 100vh;
    .news-container {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .news-container-item {
        max-width: 600px;
        max-height: 430px;
        div {
          padding: 0 40px;
          h3 {
            margin-bottom: 110px;
            font-size: 16px;
          }
          h2 {
            margin-bottom: 5px;
          }
          p {
            margin-bottom: 5px;
            font-size: 14px;
          }
          span {
            color: variables.$light-cream;
          }
        }
      }
    }
  }
  .line {
    bottom: 150px;
    margin: 0;
  }
  .card-div {
    display: flex;

    margin-top: 40px;
    padding: 0;
    .card:nth-of-type(1) {
      margin-right: 40px;
    }
    .card-1 {
      display: none;
    }
  }
}
