@use "variables";

// section N2

#trends {
  min-height: 100vh;
  padding: 40px 24px;
  background-color: variables.$light-gray;
  .heading {
    display: flex;
    justify-content: space-between;
    height: 20px;
    div {
      // repeats
      svg {
        fill: #9797a098;
      }
      svg:hover,
      svg:focus {
        transition: 0.2s ease-in;
        cursor: pointer;
        fill: black;
      }
      svg:nth-of-type(2) {
        transform: rotate(180deg);
        margin-left: 32px;
      }
    }
  }

  h2 {
    color: black;
    margin-bottom: 40px;
  }
  .card {
    margin-top: 40px;
    border-radius: 5px;
    border: none;
    height: 308px;
    background-color: variables.$white;
    img {
      height: 50%;
    }
    .container {
      padding: 0 24px;

      h4 {
        font-size: 16px;
        margin-top: 34px;
      }
      p {
        height: 20px;
        font-size: 13px;
        color: variables.$dark-gray;
        margin-top: 10px;
        //repeat
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        cursor: pointer;

        transition: max-width 0.2s;
        &:hover,
        &:focus {
          max-width: none;
          height: fit-content;
        }
      }
      span {
        font-size: 13px;
        color: variables.$dark-gray;
      }
    }
  }
  .card-1 {
    display: none;
  }
}

@media (min-width: 470px) and (max-width: 1024px) {
  #trends {
    min-height: 470px;
    padding: 0;
    .heading {
      padding: 0 80px;
      padding-top: 39px;
    }
    .cards {
      padding: 40px 50px;
      display: flex;
      justify-content: center;
      .card {
        max-width: 350px;
        height: 350px;
        &:nth-of-type(1) {
          margin-right: 40px;
        }
      }
    }
  }
}
