@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: variables.$font;
}

body {
  min-height: 100vh;
}

// header

header {
  display: flex;
  justify-content: space-between;
  height: 44px;

  .header-items-1 {
    padding-left: 17px;
    align-self: center;
    cursor: pointer;
  }
  .header-items-2 {
    align-self: center;
  }
  .header-items-3 {
    padding-right: 17px;
    align-self: center;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
  }
  .active {
    display: block;
  }

  nav {
    position: absolute;
    height: 100vh;
    width: 287px;
    z-index: 3;
    background-color: variables.$light-gray;
    padding: 38px 40px;
    box-shadow: 5px 0px 40px 5px rgba(122, 120, 120, 0.518);

    div {
      display: flex;
      justify-content: space-between;
      p {
        color: variables.$light-pink;
        font-family: variables.$font;
        font-weight: 600;
      }
    }
    ul {
      list-style: none;
      margin-top: 87px;
      li {
        margin-bottom: 34px;
        img {
          margin-right: 30px;
          font-size: 20px;
        }
      }
    }
  }
}
.toggle-menu {
  display: none;
}

// section N1

#hero-section {
  .hero-image {
    position: relative;
    color: variables.$white;
    width: 100%;

    img {
      min-height: 430px;
      width: 100%;
    }
    .text {
      position: absolute;
      z-index: 2;
      top: 0px;
      padding: 40px 24px;
      h1 {
        height: 60px;
        margin-bottom: 40px;
        border-bottom: 3.3px solid variables.$white;
        max-width: 327px;
        font-size: 24px;
        font-weight: bold;
      }
      h2 {
        height: 58px;
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 20px;
      }
      button {
        padding: 14px 39px;
        font-size: 11px;
        font-weight: 600;
        color: variables.$white;
        background-color: variables.$light-pink;
        border: none;
        border-radius: 6px;
        transition: 0.2s ease-in;
        &:hover {
          background-color: variables.$light-red;
        }
      }
    }
  }

  .content {
    padding: 40px 24px;
    min-height: 478px;
    width: 100%;
    div.more-news {
      display: flex;
      justify-content: space-between;
      max-height: 60px;
      border-bottom: 2px solid variables.$light-gray;
      width: 100%;
      margin-bottom: 40px;
      div {
        svg {
          fill: #9797a098;
        }
        svg:hover,
        svg:focus {
          transition: 0.2s ease-in;
          cursor: pointer;
          fill: black;
        }
        svg:nth-of-type(2) {
          transform: rotate(180deg);
          margin-left: 32px;
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        width: fit-content;
      }
    }

    #articles {
      h3 {
        font-size: 16px;
        color: variables.$light-pink;
        font-weight: 600;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-size: 15px;
        line-height: 26px;
        color: variables.$dark-gray;
        font-weight: 400;
        height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        cursor: pointer;
        max-width: 327px;
        transition: max-width 0.2s;
        &:hover,
        &:focus {
          max-width: none;
          height: fit-content;
        }
      }
      span {
        font-size: 13px;
        color: variables.$dark-gray;
        img {
          margin-right: 10px;
        }
      }
      .article {
        margin-bottom: 40px;
      }
    }
  }
}

// section N2

#trends {
  height: 100vh;
}
