@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
header {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
header .menu-x {
  display: none;
}
header .header-items-1 {
  padding-left: 17px;
  align-self: center;
  cursor: pointer;
}
header .header-items-2 {
  align-self: center;
}
header .header-items-3 {
  padding-right: 17px;
  align-self: center;
}
header .menu-icon {
  display: none;
  cursor: pointer;
}
header .active {
  display: block;
  transform: translateX(0);
}
header nav {
  position: fixed;
  overflow: auto;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-120%);
  top: 0;
  left: 0;
  height: 100vh;
  width: 287px;
  z-index: 3;
  background-color: #f6f8f9;
  box-shadow: 5px 0px 40px 5px rgba(122, 120, 120, 0.518);
}
header nav div.header-items-1 {
  display: flex;
  justify-content: space-between;
  padding: 38px 40px;
}
header nav div.header-items-1 p {
  color: #fa6980;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
header nav div.header-items-1 .close-menu {
  opacity: 0.6;
  height: 18px;
}
header nav ul {
  padding: 28px 30px;
  list-style: none;
  margin-top: 87px;
}
header nav ul li {
  margin-bottom: 34px;
}
header nav ul li a {
  text-decoration: none;
  color: #202124;
}
header nav ul li img {
  margin-right: 30px;
  font-size: 20px;
}
header nav .footer {
  max-height: 100%;
  width: 287px;
  background-color: #a6adb4;
}
header nav .footer .footer-links {
  display: flex;
}
header nav .footer .footer-links .footer-link-col {
  width: 120px;
}
header nav .footer .footer-links .footer-link-col ul {
  text-align: left;
}
header nav .footer .footer-links .footer-link-col ul li a {
  font-size: 15px;
  color: #f6f8f9;
}
header nav .footer .footer-links .footer-link-col ul:nth-of-type(1) {
  margin-left: 0px;
  font-size: 16px;
}
header nav .footer .footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media (min-width: 470px) {
  header a[alt=arrow-back] {
    display: none;
  }
  header img[alt=filter-icon] {
    display: none;
  }
  header .toggle-menu {
    display: none;
  }
  header .header-items-3 {
    display: none;
  }
  header .header-items-2 {
    display: none;
  }
  header .header-items-1 {
    display: none;
  }
  header .menu-x {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    padding: 0 20px 0 20px;
    width: 100%;
    background-color: white;
  }
  header .menu-x h1 {
    font-size: 13px;
    font-weight: 600;
    color: #fa6980;
    padding-top: 17px;
  }
  header .menu-x ul {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
  }
  header .menu-x ul img {
    padding: 0;
  }
  header .menu-x ul li {
    margin-right: 27px;
  }
  header .menu-x ul li a {
    text-decoration: none;
    color: #202124;
    font-weight: 600;
  }
  header .menu-x ul li a:hover {
    color: #a6adb4;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 21;
}

#popup {
  display: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.814);
  text-align: center;
  height: 200px;
  width: 320px;
  border-radius: 10px;
}
#popup .popup-content {
  height: 100%;
  padding: 40px;
}
#popup .popup-content p {
  font-size: 15;
  color: #72acff;
}
#popup button {
  position: relative;
  top: -70px;
  padding: 9px 20px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(76, 119, 150, 0.655);
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
}
#popup button:hover {
  background-color: #ff4d4d;
}

#hero-section .hero-image {
  position: relative;
  color: #ffffff;
  width: 100%;
}
#hero-section .hero-image img {
  min-height: 430px;
  width: 100%;
}
#hero-section .hero-image .text {
  position: absolute;
  z-index: 2;
  top: 0px;
  padding: 40px 24px;
}
#hero-section .hero-image .text h1 {
  height: 60px;
  margin-bottom: 40px;
  border-bottom: 3.3px solid #ffffff;
  max-width: 327px;
  font-size: 24px;
  font-weight: bold;
}
#hero-section .hero-image .text h2 {
  height: 58px;
  font-size: 24px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text p {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text button {
  padding: 14px 39px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
}
#hero-section .hero-image .text button:hover {
  background-color: #ff4d4d;
}
#hero-section .content {
  padding: 40px 24px;
  min-height: 478px;
  width: 100%;
}
#hero-section .content div.more-news {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  border-bottom: 2px solid #f6f8f9;
  width: 100%;
  margin-bottom: 40px;
}
#hero-section .content div.more-news div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#hero-section .content div.more-news div svg:hover,
#hero-section .content div.more-news div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#hero-section .content div.more-news div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#hero-section .content div.more-news h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  width: fit-content;
}
#hero-section .content #articles h3 {
  font-size: 16px;
  color: #fa6980;
  font-weight: 600;
  margin-bottom: 20px;
}
#hero-section .content #articles h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
#hero-section .content #articles p {
  font-size: 15px;
  line-height: 26px;
  color: #a6adb4;
  font-weight: 400;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  max-width: 327px;
  transition: max-width 0.2s;
}
#hero-section .content #articles p:hover, #hero-section .content #articles p:focus {
  max-width: none;
  height: fit-content;
}
#hero-section .content #articles span {
  font-size: 13px;
  color: #a6adb4;
}
#hero-section .content #articles span img {
  margin-right: 10px;
}
#hero-section .content #articles .article {
  margin-bottom: 40px;
}

@media (min-width: 470px) and (max-width: 1024px) {
  #hero-section .hero-image img {
    max-height: 400px;
  }
  #hero-section .hero-image .text {
    padding: 79px 80px;
  }
  #hero-section .hero-image .text h2 {
    margin-bottom: 0;
  }
  #hero-section .hero-image .text h1 {
    max-width: 100%;
  }
  #hero-section .content {
    min-height: 327px;
    padding: 40px 80px;
  }
  #hero-section #articles {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1025px) {
  #hero-section {
    display: flex;
    height: 600px;
  }
  #hero-section .hero-image {
    max-width: 860px;
  }
  #hero-section .hero-image .text {
    padding: 177px 100px 177px 140px;
  }
  #hero-section .hero-image img {
    max-height: 600px;
  }
  #hero-section .content {
    padding: 100px;
    width: 600px;
  }
  #hero-section .content #articles {
    display: block;
  }
}
#trends {
  min-height: 100vh;
  padding: 40px 24px;
  background-color: #f6f8f9;
}
#trends .heading {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
#trends .heading div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#trends .heading div svg:hover,
#trends .heading div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#trends .heading div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#trends h2 {
  color: black;
  margin-bottom: 40px;
}
#trends .card {
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  height: 308px;
  background-color: #ffffff;
}
#trends .card img {
  height: 50%;
}
#trends .card .container {
  padding: 0 24px;
}
#trends .card .container h4 {
  font-size: 16px;
  margin-top: 34px;
}
#trends .card .container p {
  height: 20px;
  font-size: 13px;
  color: #a6adb4;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  transition: max-width 0.2s;
}
#trends .card .container p:hover, #trends .card .container p:focus {
  max-width: none;
  height: fit-content;
}
#trends .card .container span {
  font-size: 13px;
  color: #a6adb4;
}
#trends .card-1 {
  display: none;
}

@media (min-width: 470px) and (max-width: 1024px) {
  #trends {
    min-height: 470px;
    padding: 0;
  }
  #trends .heading {
    padding: 0 80px;
    padding-top: 39px;
  }
  #trends .cards {
    padding: 40px 50px;
    display: flex;
    justify-content: center;
  }
  #trends .cards .card {
    max-width: 350px;
    height: 350px;
  }
  #trends .cards .card:nth-of-type(1) {
    margin-right: 40px;
  }
}
@media (min-width: 1025px) {
  #trends {
    padding: 40px 140px 0 140px;
    min-height: 450px;
  }
  #trends .cards {
    display: flex;
    justify-content: space-between;
  }
  #trends .cards .card {
    width: 360px;
    margin-right: 10px;
  }
  #trends .card-1 {
    display: block;
  }
}
#news {
  background-color: #f6f8f9;
  max-height: 1600px;
}
#news div.news-2 {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  border-bottom: 2px solid #f6f8f9;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding: 0 24px;
}
#news div.news-2 div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#news div.news-2 div svg:hover,
#news div.news-2 div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#news div.news-2 div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#news div.news-2 h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  width: fit-content;
}
#news .news-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#news .news-container .news-container-item {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 327px;
  margin-bottom: 40px;
}
#news .news-container .news-container-item:nth-of-type(1) {
  margin-top: 150px;
}
#news .news-container .news-container-item img {
  width: 100%;
  height: 320px;
}
#news .news-container .news-container-item div {
  font-family: "Noto Sans", sans-serif;
  padding: 0 24px;
  position: absolute;
  top: 20px;
  color: #ffffff;
}
#news .news-container .news-container-item div h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}
#news .news-container .news-container-item div h2 {
  font-size: 18px;
  width: 100%;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  margin-bottom: 30px;
  cursor: pointer;
  transition: max-width 0.2s;
}
#news .news-container .news-container-item div h2:hover, #news .news-container .news-container-item div h2:focus {
  max-width: none;
  height: fit-content;
}
#news .news-container .news-container-item div p {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
#news .news-container .news-container-item div span {
  font-size: 13px;
  color: #f6f8f9;
}

.line {
  position: relative;
  bottom: 180px;
  height: 0;
  border-bottom: 2px solid #ebeded;
  margin: 0 24px;
  z-index: 2;
}

.card-div {
  padding: 24px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
  background-color: #f6f8f9;
}
.card-div .card {
  background-color: #f6f8f9;
  max-width: 327px;
  min-height: 180px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}
.card-div .card img[alt=Avatar] {
  margin-bottom: 20px;
}
.card-div .card p {
  font-weight: 600;
  position: relative;
  top: -10px;
  font-size: 15px;
}
.card-div .card span {
  font-size: 11px;
  color: #a6adb4;
  position: relative;
  top: -10px;
}
.card-div .card span img {
  margin-right: 10px;
  position: relative;
  top: 4px;
}

@media (min-width: 470px) and (max-width: 1024px) {
  #news {
    padding: 0 80px;
    margin: 0;
    min-height: 100vh;
  }
  #news .news-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  #news .news-container .news-container-item {
    max-width: 600px;
    max-height: 430px;
  }
  #news .news-container .news-container-item div {
    padding: 0 40px;
  }
  #news .news-container .news-container-item div h3 {
    margin-bottom: 110px;
    font-size: 16px;
  }
  #news .news-container .news-container-item div h2 {
    margin-bottom: 5px;
  }
  #news .news-container .news-container-item div p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  #news .news-container .news-container-item div span {
    color: #ebeded;
  }
  .line {
    bottom: 150px;
    margin: 0;
  }
  .card-div {
    display: flex;
    margin-top: 40px;
    padding: 0;
  }
  .card-div .card:nth-of-type(1) {
    margin-right: 40px;
  }
  .card-div .card-1 {
    display: none;
  }
}
@media (min-width: 1025px) {
  #news {
    padding: 40px 140px;
    max-height: 1000px;
  }
  #news .news-2 {
    margin: 0;
  }
  #news .news-2 div {
    margin-right: -40px;
  }
  #news .line {
    display: none;
  }
  #news .news-container {
    display: inline-block;
    min-width: 540px;
    max-height: 700px;
    margin-right: 40px;
    padding: 0;
    margin-bottom: 0;
  }
  #news .news-container .news-container-item {
    min-width: 100%;
    top: 0px;
  }
  #news .news-container .news-container-item div h3 {
    margin-bottom: 160px;
  }
  #news .news-container .news-container-item div h2 {
    margin: 0;
  }
  #news .news-container .news-container-item div p {
    font-size: 13px;
  }
  #news .card-div {
    position: relative;
    bottom: 711.5px;
    z-index: 0;
    left: 320px;
    transform: none;
    margin-top: 0px;
    width: 290px;
    padding: 0;
  }
  #news .card-div .card {
    min-width: 290px;
  }
}
#discovery-header {
  min-height: 44px;
  display: flex;
}
#discovery-header img {
  padding: 15px;
  cursor: pointer;
  opacity: 0.6;
}
#discovery-header img:hover {
  opacity: 1;
}

.discovery-hero {
  width: 100%;
  max-height: 750px;
  position: relative;
}
.discovery-hero img {
  width: 100%;
  height: 100%;
}
.discovery-hero div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  padding: 91px 24px;
}
.discovery-hero div img {
  width: 35px;
}
.discovery-hero div h1 {
  font-size: 32px;
  margin-bottom: 25px;
}
.discovery-hero div p {
  margin-bottom: 10%;
}
.discovery-hero div .red-line {
  height: 0;
  border-bottom: 3px solid #fa6980;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.form {
  width: 100%;
  height: 326px;
  margin-bottom: 41px;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px 24px;
}
.form form select,
.form form input {
  height: 40px;
  border-radius: 5px;
  border: 2px solid #ebeded;
  margin-bottom: 37px;
  padding: 5px;
}
.form form option:nth-of-type(1) {
  color: #ebeded;
}
.form label {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
}
.form button {
  padding: 14px 39px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
  width: 161px;
}
.form button:hover {
  background-color: #ff4d4d;
}

#discovery-articles {
  background-color: #f6f8f9;
  padding: 24px;
  max-width: 100%;
}
#discovery-articles div {
  margin-top: 30px;
  padding: 40px 0;
  border-top: 2px solid #ebeded;
}
#discovery-articles div img {
  margin-bottom: 24px;
}
#discovery-articles div img[alt=elephant] {
  min-width: 250px;
  width: 100%;
}
#discovery-articles div h2 {
  margin-bottom: 40px;
}
#discovery-articles div p {
  font-size: 14px;
  color: #a6adb4;
  line-height: 30px;
}
#discovery-articles div:nth-of-type(2) {
  border-bottom: 2px solid #ebeded;
  margin-top: 10px;
}
#discovery-articles .pagination {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.title-container {
  display: none;
}

@media (min-width: 470px) and (max-width: 1024px) {
  .footer-x-items ul {
    margin-right: 10px;
  }
  .title-container {
    padding: 22px 80px;
    display: flex;
    justify-content: space-between;
  }
  .title-container div.filter {
    text-align: right;
    border-radius: 4px;
    border: 1px solid rgba(212, 209, 209, 0.747);
  }
  .title-container div.filter img {
    height: 16px;
    margin: 12px;
  }
  .title-container div {
    display: flex;
  }
  .title-container div img {
    height: 16px;
    margin-right: 30px;
  }
  .title-container div p {
    font-size: 11px;
    margin-right: 19px;
  }
  .title-container div span {
    margin-right: 19px;
    font-size: 11px;
  }
  #search-container {
    padding: 0px 80px;
  }
  #search-container .discovery-hero {
    height: 400px;
  }
  #search-container .form {
    max-width: 446px;
    margin: 0 auto;
  }
  #discovery-articles {
    padding: 0px 80px;
  }
  #discovery-articles img.pagination {
    max-width: 233px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  body {
    background-color: #f6f8f9;
  }
  .title-container {
    padding: 42px 140px;
    display: flex;
    justify-content: space-between;
  }
  .title-container div.filter {
    text-align: right;
    border-radius: 4px;
    border: 1px solid rgba(212, 209, 209, 0.747);
  }
  .title-container div.filter img {
    height: 16px;
    margin: 12px;
  }
  .title-container div {
    display: flex;
  }
  .title-container div img {
    height: 16px;
    margin-right: 30px;
  }
  .title-container div p {
    font-size: 11px;
    margin-right: 19px;
  }
  .title-container div span {
    margin-right: 19px;
    font-size: 11px;
  }
  #search-container {
    margin: 0 140px;
    display: flex;
    background-color: #ffffff;
  }
  #search-container .form {
    align-self: center;
  }
  #search-container .form form {
    width: 360px;
    margin: 0 auto;
  }
  #discovery-articles {
    min-height: 1100px;
    padding: 0 140px;
    display: flex;
    flex-direction: column;
  }
  #discovery-articles div.el {
    display: block;
  }
  #discovery-articles div.el p {
    width: 75%;
  }
  #discovery-articles .pagination {
    display: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

#footer-x {
  display: none;
}

#api-body {
  background-color: #ebeded;
  padding: 0 24px;
}
#api-body #api-header {
  margin: 20px 0;
}
#api-body #api-header a {
  margin-top: 10px;
}
#api-body #api-header #button {
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
}
#api-body #api-header #button:hover {
  background-color: #ff4d4d;
}
#api-body #data div {
  margin: 0 auto;
}
#api-body #data div .card {
  max-width: 350px;
  max-height: 500px;
  background-color: white;
  text-align: center;
  margin-bottom: 50px;
}
#api-body #data div .card .card-image-holder {
  text-align: center;
  padding-top: 20px;
  max-width: 250px;
  overflow: hidden;
}
#api-body #data div .card .card-title {
  height: 100%;
  min-width: 180px;
  text-align: left;
  padding: 20px;
}
#api-body #data div .card .card-title h2 {
  font-size: 15px;
  max-width: 230px;
  margin: 0 auto;
}
#api-body #data div .card .card-title p {
  max-width: 230px;
  font-size: 12px;
  margin: 0 auto;
}

@media (min-width: 470px) {
  #footer-x {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 200px;
    background-color: #a6adb4;
    padding: 54px 80px;
  }
  #footer-x div {
    display: flex;
    flex-direction: row;
    max-width: 372px;
    justify-content: space-between;
    height: 86px;
    margin-bottom: 6px;
  }
  #footer-x div .footer-x-items {
    align-self: center;
    margin-bottom: 40px;
    margin-top: 15px;
  }
  #footer-x div .footer-x-items h1 {
    max-width: 289px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 800;
    padding-top: 4px;
  }
  #footer-x div .footer-x-items ul {
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
  }
  #footer-x div .footer-x-items ul a {
    text-decoration: none;
    color: #ebeded;
    opacity: 0.8;
    margin-bottom: 8px;
    font-size: 13px;
  }
  #footer-x #subscribe {
    max-width: 286px;
    display: block;
    max-height: 50px;
    position: relative;
  }
  #footer-x #subscribe button {
    position: absolute;
    right: 18px;
    background: none;
    padding: 5px;
    top: 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  #footer-x #subscribe button img {
    height: 16px;
  }
  #footer-x #subscribe input {
    width: 100%;
    height: 100%;
    background-color: #a6adb4;
    border: 3px solid rgba(255, 255, 255, 0.322);
    border-radius: 7px;
    outline: none;
    padding: 5px 5px 5px 10px;
    margin-bottom: 16px;
    color: #ebeded;
  }
  #footer-x #subscribe input::placeholder {
    color: rgba(255, 255, 255, 0.322);
  }
  #footer-x #subscribe p {
    color: rgba(255, 255, 255, 0.39);
    font-size: 11px;
    text-align: left;
  }
  #footer-x .footer-x-icons {
    width: 120px;
    height: 20px;
    position: static;
    padding-top: 40px;
  }
  #footer-x .footer-x-icons img {
    height: 16px;
    margin-left: 13.5px;
  }
  #api-header button {
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    background-color: #fa6980;
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in;
  }
  #api-header button:hover {
    background-color: #ff4d4d;
  }
  #data {
    padding: 40px 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
