@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
header .header-items-1 {
  padding-left: 17px;
  align-self: center;
  cursor: pointer;
}
header .header-items-2 {
  align-self: center;
}
header .header-items-3 {
  padding-right: 17px;
  align-self: center;
}
header .menu-icon {
  display: none;
  cursor: pointer;
}
header .active {
  display: block;
}
header nav {
  position: fixed;
  height: 100vh;
  width: 287px;
  z-index: 3;
  background-color: #f6f8f9;
  padding: 38px 40px;
  box-shadow: 5px 0px 40px 5px rgba(122, 120, 120, 0.518);
}
header nav div {
  display: flex;
  justify-content: space-between;
}
header nav div p {
  color: #fa6980;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
header nav ul {
  list-style: none;
  margin-top: 87px;
}
header nav ul li {
  margin-bottom: 34px;
}
header nav ul li a {
  text-decoration: none;
  color: #202124;
}
header nav ul li img {
  margin-right: 30px;
  font-size: 20px;
}

.toggle-menu {
  display: none;
}

#hero-section .hero-image {
  position: relative;
  color: #ffffff;
  width: 100%;
}
#hero-section .hero-image img {
  min-height: 430px;
  width: 100%;
}
#hero-section .hero-image .text {
  position: absolute;
  z-index: 2;
  top: 0px;
  padding: 40px 24px;
}
#hero-section .hero-image .text h1 {
  height: 60px;
  margin-bottom: 40px;
  border-bottom: 3.3px solid #ffffff;
  max-width: 327px;
  font-size: 24px;
  font-weight: bold;
}
#hero-section .hero-image .text h2 {
  height: 58px;
  font-size: 24px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text p {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text button {
  padding: 14px 39px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
}
#hero-section .hero-image .text button:hover {
  background-color: #ff4d4d;
}
#hero-section .content {
  padding: 40px 24px;
  min-height: 478px;
  width: 100%;
}
#hero-section .content div.more-news {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  border-bottom: 2px solid #f6f8f9;
  width: 100%;
  margin-bottom: 40px;
}
#hero-section .content div.more-news div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#hero-section .content div.more-news div svg:hover,
#hero-section .content div.more-news div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#hero-section .content div.more-news div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#hero-section .content div.more-news h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  width: fit-content;
}
#hero-section .content #articles h3 {
  font-size: 16px;
  color: #fa6980;
  font-weight: 600;
  margin-bottom: 20px;
}
#hero-section .content #articles h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
#hero-section .content #articles p {
  font-size: 15px;
  line-height: 26px;
  color: #a6adb4;
  font-weight: 400;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  max-width: 327px;
  transition: max-width 0.2s;
}
#hero-section .content #articles p:hover, #hero-section .content #articles p:focus {
  max-width: none;
  height: fit-content;
}
#hero-section .content #articles span {
  font-size: 13px;
  color: #a6adb4;
}
#hero-section .content #articles span img {
  margin-right: 10px;
}
#hero-section .content #articles .article {
  margin-bottom: 40px;
}

#trends {
  min-height: 100vh;
  padding: 40px 24px;
  background-color: #f6f8f9;
}
#trends .heading {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
#trends .heading div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#trends .heading div svg:hover,
#trends .heading div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#trends .heading div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#trends h2 {
  color: black;
  margin-bottom: 40px;
}
#trends .card {
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  height: 308px;
}
#trends .card img {
  height: 50%;
}
#trends .card .container {
  padding: 0 24px;
}
#trends .card .container h4 {
  font-size: 16px;
  margin-top: 34px;
}
#trends .card .container p {
  height: 20px;
  font-size: 13px;
  color: #a6adb4;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  transition: max-width 0.2s;
}
#trends .card .container p:hover, #trends .card .container p:focus {
  max-width: none;
  height: fit-content;
}
#trends .card .container span {
  font-size: 13px;
  color: #a6adb4;
}
#trends .card-1 {
  display: none;
}

/*# sourceMappingURL=style.css.map */
