@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
#hero-section .hero-image {
  position: relative;
  color: #ffffff;
  width: 100%;
}
#hero-section .hero-image img {
  min-height: 430px;
  width: 100%;
}
#hero-section .hero-image .text {
  position: absolute;
  z-index: 2;
  top: 0px;
  padding: 40px 24px;
}
#hero-section .hero-image .text h1 {
  height: 60px;
  margin-bottom: 40px;
  border-bottom: 3.3px solid #ffffff;
  max-width: 327px;
  font-size: 24px;
  font-weight: bold;
}
#hero-section .hero-image .text h2 {
  height: 58px;
  font-size: 24px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text p {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 20px;
}
#hero-section .hero-image .text button {
  padding: 14px 39px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
}
#hero-section .hero-image .text button:hover {
  background-color: #ff4d4d;
}
#hero-section .content {
  padding: 40px 24px;
  min-height: 478px;
  width: 100%;
}
#hero-section .content div.more-news {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  border-bottom: 2px solid #f6f8f9;
  width: 100%;
  margin-bottom: 40px;
}
#hero-section .content div.more-news div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#hero-section .content div.more-news div svg:hover,
#hero-section .content div.more-news div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#hero-section .content div.more-news div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#hero-section .content div.more-news h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  width: fit-content;
}
#hero-section .content #articles h3 {
  font-size: 16px;
  color: #fa6980;
  font-weight: 600;
  margin-bottom: 20px;
}
#hero-section .content #articles h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
#hero-section .content #articles p {
  font-size: 15px;
  line-height: 26px;
  color: #a6adb4;
  font-weight: 400;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  max-width: 327px;
  transition: max-width 0.2s;
}
#hero-section .content #articles p:hover, #hero-section .content #articles p:focus {
  max-width: none;
  height: fit-content;
}
#hero-section .content #articles span {
  font-size: 13px;
  color: #a6adb4;
}
#hero-section .content #articles span img {
  margin-right: 10px;
}
#hero-section .content #articles .article {
  margin-bottom: 40px;
}

#trends {
  min-height: 100vh;
  padding: 40px 24px;
  background-color: #f6f8f9;
}
#trends .heading {
  display: flex;
  justify-content: space-between;
  height: 20px;
}
#trends .heading div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#trends .heading div svg:hover,
#trends .heading div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#trends .heading div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#trends h2 {
  color: black;
  margin-bottom: 40px;
}
#trends .card {
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  height: 308px;
  background-color: #ffffff;
}
#trends .card img {
  height: 50%;
}
#trends .card .container {
  padding: 0 24px;
}
#trends .card .container h4 {
  font-size: 16px;
  margin-top: 34px;
}
#trends .card .container p {
  height: 20px;
  font-size: 13px;
  color: #a6adb4;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  cursor: pointer;
  transition: max-width 0.2s;
}
#trends .card .container p:hover, #trends .card .container p:focus {
  max-width: none;
  height: fit-content;
}
#trends .card .container span {
  font-size: 13px;
  color: #a6adb4;
}
#trends .card-1 {
  display: none;
}

#news {
  background-color: #f6f8f9;
  max-height: 1600px;
}
#news div.news-2 {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  border-bottom: 2px solid #f6f8f9;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding: 0 24px;
}
#news div.news-2 div svg {
  fill: rgba(151, 151, 160, 0.5960784314);
}
#news div.news-2 div svg:hover,
#news div.news-2 div svg:focus {
  transition: 0.2s ease-in;
  cursor: pointer;
  fill: black;
}
#news div.news-2 div svg:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 32px;
}
#news div.news-2 h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  width: fit-content;
}
#news .news-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#news .news-container .news-container-item {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 327px;
  margin-bottom: 40px;
}
#news .news-container .news-container-item:nth-of-type(1) {
  margin-top: 150px;
}
#news .news-container .news-container-item img {
  width: 100%;
  height: 320px;
}
#news .news-container .news-container-item div {
  font-family: "Noto Sans", sans-serif;
  padding: 0 24px;
  position: absolute;
  top: 20px;
  color: #ffffff;
}
#news .news-container .news-container-item div h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}
#news .news-container .news-container-item div h2 {
  font-size: 18px;
  width: 100%;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  margin-bottom: 30px;
  cursor: pointer;
  transition: max-width 0.2s;
}
#news .news-container .news-container-item div h2:hover, #news .news-container .news-container-item div h2:focus {
  max-width: none;
  height: fit-content;
}
#news .news-container .news-container-item div p {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
#news .news-container .news-container-item div span {
  font-size: 13px;
  color: #f6f8f9;
}

.line {
  position: relative;
  bottom: 180px;
  height: 0;
  border-bottom: 2px solid #ebeded;
  margin: 0 24px;
  z-index: 2;
}

.card-div {
  padding: 24px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
  background-color: #f6f8f9;
}
.card-div .card {
  background-color: #f6f8f9;
  max-width: 327px;
  min-height: 180px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}
.card-div .card img[alt=Avatar] {
  margin-bottom: 20px;
}
.card-div .card p {
  font-weight: 600;
  position: relative;
  top: -10px;
  font-size: 15px;
}
.card-div .card span {
  font-size: 11px;
  color: #a6adb4;
  position: relative;
  top: -10px;
}
.card-div .card span img {
  margin-right: 10px;
  position: relative;
  top: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 44px;
}
header .header-items-1 {
  padding-left: 17px;
  align-self: center;
  cursor: pointer;
}
header .header-items-2 {
  align-self: center;
}
header .header-items-3 {
  padding-right: 17px;
  align-self: center;
}
header .menu-icon {
  display: none;
  cursor: pointer;
}
header .active {
  display: block;
  transform: translateX(0);
}
header nav {
  position: fixed;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-120%);
  top: 0;
  left: 0;
  height: 100vh;
  width: 287px;
  z-index: 3;
  background-color: #f6f8f9;
  padding: 38px 40px;
  box-shadow: 5px 0px 40px 5px rgba(122, 120, 120, 0.518);
}
header nav div.header-items-1 {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
header nav div.header-items-1 p {
  color: #fa6980;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
header nav div.header-items-1 .close-menu {
  opacity: 0.6;
  height: 18px;
}
header nav ul {
  list-style: none;
  margin-top: 87px;
}
header nav ul li {
  margin-bottom: 34px;
}
header nav ul li a {
  text-decoration: none;
  color: #202124;
}
header nav ul li img {
  margin-right: 30px;
  font-size: 20px;
}

#discovery-header {
  min-height: 44px;
  display: flex;
}
#discovery-header img {
  padding: 15px;
  cursor: pointer;
  opacity: 0.6;
}
#discovery-header img:hover {
  opacity: 1;
}

.discovery-hero {
  width: 100%;
  max-height: 750px;
  position: relative;
}
.discovery-hero img {
  width: 100%;
  height: 100%;
}
.discovery-hero div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  padding: 91px 24px;
}
.discovery-hero div img {
  width: 35px;
}
.discovery-hero div h1 {
  font-size: 32px;
  margin-bottom: 25px;
}
.discovery-hero div p {
  margin-bottom: 10%;
}
.discovery-hero div .red-line {
  height: 0;
  border-bottom: 3px solid #fa6980;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.form {
  width: 100%;
  height: 326px;
  margin-bottom: 41px;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px 24px;
}
.form form select,
.form form input {
  height: 40px;
  border-radius: 5px;
  border: 2px solid #ebeded;
  margin-bottom: 37px;
  padding: 5px;
}
.form form option:nth-of-type(1) {
  color: #ebeded;
}
.form label {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
}
.form button {
  padding: 14px 39px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fa6980;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in;
  width: 161px;
}
.form button:hover {
  background-color: #ff4d4d;
}

#discovery-articles {
  background-color: #f6f8f9;
  padding: 24px;
  max-width: 100%;
}
#discovery-articles div {
  margin-top: 30px;
  padding: 40px 0;
  border-top: 2px solid #ebeded;
}
#discovery-articles div img {
  margin-bottom: 24px;
}
#discovery-articles div img[alt=elephant] {
  min-width: 250px;
  width: 100%;
}
#discovery-articles div h2 {
  margin-bottom: 40px;
}
#discovery-articles div p {
  font-size: 14px;
  color: #a6adb4;
  line-height: 30px;
}
#discovery-articles div:nth-of-type(2) {
  border-bottom: 2px solid #ebeded;
  margin-top: 10px;
}
#discovery-articles .pagination {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
